SECRET_KEY='xd&$$x%$nr!!6x)l7ht@(#mb0)2tj(e4qm8gw0143muwrxumfi'
ALLOWED_HOSTS='localhost,'
DEBUG='True'

DB_ENGINE='postgres'
DB_NAME='mydatabase'
DB_USER='mydatabaseuser'
DB_PASSWORD='mypassword'
DB_HOST='localhost'
DB_PORT='5432'
